* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.section_title {
    padding-top: 72px;
    padding-bottom: 50px;
    font-family: 'Vollkorn', serif;
}
.section_title h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.section_title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 60px;
    height: 1px;
    background-color: #f39c12;
    left: 50%;
    margin-left: -30px;
}
.section_title p {
    text-align: center;
    margin-top: 42px;
    color: white;
    font-size: 25px;
    line-height: 32px;
    font-family: 'Vollkorn', serif;
    margin-bottom: 0px;
}
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_us_content{
    float:left;
    width:30%;
    text-align: center;
    font-family: 'Vollkorn', serif;
}

.about_us_content p {
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    padding: 8px;
    text-align: justify;
}

.about_us_content h3 {
    font-family: 'Vollkorn', serif;
    font-weight: bold;
    text-decoration: underline;
}

.about_us_content ul li{
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}

.acard{
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    height: auto;
    min-height: 470px;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Vollkorn', serif;
    margin: 15px;
    padding: 5px;
    border-radius: 5%;
}

.about .about_overlay {
    background-color: rgba(33, 33, 33, .74);
}

.navbar {
    margin-top: -100px
}
.navbar-brand {
    padding: 9px 15px;
}
@media(min-width:768px) {
    .navbar-default {
        background-color: transparent;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #f39c12;
    }
    .navbar-default .navbar-nav>li>a:focus {
        color: #B5B5B5;
    }
    .navbar-default {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        z-index: 110;
    }
    .navbar-brand img {
        padding-top: 25px;
        height: 45px;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    .navbar-default .navbar-nav>li>a {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    .navbar-nav>li>a {
        padding-top: 45px;
    }
}
@media (max-width: 768px) {
    .navbar-brand img {} .navbar-default {
      /*  background-color: #fff !important; */
    }
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #f39c12;
}
.header {
    background: url(../images/bg1.gif);
    background-size: cover;
	background-repeat: no-repeat;
}
.header .section_overlay {
    background-color: rgba(33, 33, 33, .70);
}
.logo{
    padding-bottom: 50px;
}
.home_text{
    text-align: center;
}


@media (max-width: 768px){
    .home-iphone{
        display: none;
    }
    .home_text{
        text-align: center;
    }

}
.home_text h1 {
    color: #fff;
    font-size: 28px;
    transform: uppercase;
    font-family: 'Bungee Inline', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
}
.home_text p {
    color: #fff;
    font-size: 55px;
    font-family: 'Oleo Script', cursive;
    margin-top: 6px;
    padding-top: 10px;
}
.download-btn {
    margin-top: 90px;
    margin-bottom: 50px
}
.home-btn,
.home-btn:focus,
.home-btn:active,
.home-btn:visited {
    background: transparent;
    border-color: #f39c12;
    color: #f39c12;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.home-btn:hover {
    background-color: #f39c12;
    color: #fff;
}
.tuor,
.tuor:focus,
tuor:active,
tuor:visited {
    color: #f39c12;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    background: transparent;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tuor:hover {
    color: #fff;
}
.tuor i {
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
    color: #f39c12;
}



/*---------------------------------------
   SECTION ABOUT              
-----------------------------------------*/



.about {
    background: url(../images/intropic.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.inner_about_area {
    padding-top: 45px;
    padding-bottom: 10px;
    font-family: 'Vollkorn', serif;
}
.inner_about_title {
    padding-bottom: 50px;
}
.inner_about_title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}
.inner_about_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    background: #f39c12;
    height: 1px;
}
.inner_about_title p {
    font-size: 19px;
    line-height: 24px;
    margin-top: 40px;
}
.inner_about_desc {} .single_about_area {
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.single_about_area div {
    position: absolute;
    top: 0px;
    left: 0px;
}
.single_about_area div i {
    font-size: 55px;
    color: #BABABA;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_about_area h3 {
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
.single_about_area p {
    color: #727272;
    font-size: 15px;
}
.single_about_area:hover div i {
    color: #f39c12;
}
.about_phone img {} @media (min-width: 991px) and (max-width: 1200px) {
    .about_phone img {
        margin-top: 184px;
        width: 80%;
        margin-right: 20%
    }
}

.gallery {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 40px; 
}

div.carousel-inner .item img {
    border: 2px solid #f39c12;
    border-radius: 0px;
    width: 100%;
    height: 600px;
    margin: 2px;
    margin-top: 150px;
}

.gallery_caption p {
    color: white;
    font-family: 'Vollkorn', serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 8px;
    font-style: italic;
}

.carousel-indicators {
	bottom: -20px;
}

.gallery ol.carousel-indicators li {
    width: 18px;
    height: 18px;
    border: 1px solid white;
    margin: 1px;
}
.gallery ol.carousel-indicators li.active {
    width: 18px;
    height: 18px;
    border: 0px solid white;
    background: white;
}

/*---------------------------------------
   SECTION FEATURES              
-----------------------------------------*/

.features {
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wow h2 {
    margin-top: 100px;
}

.feature_inner {
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: rgba(33, 33, 33, .55);
}
.feature_iphone {} .feature_iphone img {
    width: 100%;
}
.right_single_feature {
    position: relative;
    padding-left: 90px;
    margin-bottom: 80px;
    margin-top: 35px;
}
.right_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #f39c12;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
    color: #ff8000;
    font-weight: bold;
}
.right_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 21px;
    color: #ff8000;
}
.right_single_feature h3 span {
    color: white;
}
.right_single_feature p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
/*left feature*/

.left_single_feature {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
.left_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #f39c12;
    right: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}
.left_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333333;
}
.left_single_feature h3 span {
    color: #f39c12;
}
.left_single_feature p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.right_no_padding {
    padding-left: 15px;
}
.left_no_padding {
    padding-right: 15px;
}
@media (min-width: 991px) and (max-width: 1200px) {
    .right_single_feature {
        margin-left: -60px;
    }
    .left_single_feature {
        margin-right: -60px;
    }
    .feature_iphone {
        margin-top: 35px;
    }
    .right_single_feature h3,
    .left_single_feature h3 {
        margin-top: 0px;
        margin-bottom: 15px;
    }
}


.download {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.download_screen {
    padding-top: 45px;
}
.download_screen img {
    width: 100%
}
.available_store {
    background: #1a1a1a;
    margin-top: -8px;
    position: relative;
}
.available_title {
    padding-top: 75px;
}
.available_title h2 {
    color: #fff;
    font-size: 30px;
}
.available_title p {
    color: #B5B5B5;
}
.single_store {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_store i {
    color: #f39c12;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.store_inner {
    position: absolute;
    bottom: 93px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.store_inner h2 {
    text-align: center;
    font-weight: 300;
    color: #d7dadb;
    font-size: 16px;
}
.single_store:hover {
    background: #121212;
}
.single_store:hover i {
    opacity: 0;
}
.single_store:hover div.store_inner {
    opacity: 1;
}
.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}
.last {
    border-right: 1px solid #0F1217;
}
/*---------------------------------------
   SECTION CONTACT              
-----------------------------------------*/

.contact {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contact_form {
    padding-top: 30px;
}
.contact_form .form-control {
    display: block;
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: orange;
    background-color: white;
    border: 1px solid #aeaeae;
    background-image: none;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;   

}
.contact_form .form-control:focus {
    border: 1px solid #f39c12;
    border-color: #f39c12;
    outline: 0px none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(102, 175, 233, 0.6);
}
.contact_form {} .form-control:-webkit-input-placeholder {
    color: red;
}
.form-control:-moz-placeholder {
    /* Firefox 18- */
    
    color: red;
}
.form-control:-moz-placeholder {
    /* Firefox 19+ */
    
    color: red;
}
.form-control:-ms-input-placeholder {
    color: red;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    background-color: white;
    border: 1px solid #f39c12;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #f39c12;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}
.submit-btn:hover {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}

.error {
    color: white;
    display: block;
    padding-bottom: 15px;
    font-size: 18px
}
.error i {
    padding-right: 10px;
    font-size: 18px
}
.Sucess {
    color: white;
    display: block;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}
.Sucess i {
    padding-right: 10px;
    font-size: 18px;
    color: white;
}
.contact_form .form-control {
    color: orange;
}
#message {
    height: 117px;
    resize: none;
}

/*---------------------------------------
   SECTION FOOTER              
-----------------------------------------*/

.copyright {
    background-color: #1A1D22;
    padding-bottom: 65px;
    padding-top: 65px;
    border-bottom: 3px solid #f39c12;
}
.copyright h2 {
    height: 0px;
    margin: 0px;
}
.copy_right_text {
    width: 60%;
}
.copy_right_text p {
    color: #8C8B8A;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}
.copy_right_text p a {
    text-decoration: none;
    color: #f39c12;
}
.copy_right_text p span {
    font-weight: 300;
}
.scroll_top {
    text-align: right;
}
.scroll_top a {
    background: #f39c12;
    padding: 25px;
}
.scroll_top a i {
    color: #fff;
    font-size: 25px;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: red;
    background-image: none;
    color: rgb(0, 0, 0);
}

.container {
    padding: 10px;
}

.container img{
    border-radius: 44%;
    border-top-left-radius: 55%;
    border-top-right-radius: 55%;
}

/* Style all font awesome icons */
.fa {
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 40px;
    height: auto;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/*Linkedin*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/*Github*/
.fa-github {
  background: #007bb5;
  color: white;
}

